
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.sidebar{
    width: 300px;
    background: #030303;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
}
.sidebar-nav{
    background-color: #111111;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 10px;
}
.logo{
    width: 120px;
}
.logo img{
    width: 100%;
}
.sidebar-nav ul{
    list-style: none;
}
.sidebar-nav ul li{
    padding: 10px 20px;
}
.sidebar-nav ul li a:hover{
    color: #fff;

}
.sidebar-nav ul li a{
    text-decoration: none;
    color: #b3b3b3;
    font-size: 16px;
    font-size: 600;
}
.sidebar-nav ul li a i{
    font-size: 20px;
    margin-right: 10px;
    
}
.Library::after{
    content: '+';
    float: right;
    text-align: center;
    border-radius: 50px;
    font-size: 15px;
}
.create-playlist{
    background: #302f2f;
    padding: 30px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.sidebar-scroll{
    height: 120px;
    overflow: auto;
}
.sidebar-scroll::-webkit-scrollbar{
    background: transparent;
}
.sidebar-scroll::-webkit-scrollbar-thumb{
    background:transparent;
    width: 10px;
}
.sidebar-scroll:hover::-webkit-scrollbar-thumb{
    background: #5c5b5b;
    width: 5px;
}
.create-playlist h4{
    color: #fff;
    font-size: 15px;
}
.create-playlist p{
    color: #fff;
    font-size: 12px;
    margin: 12px 0;
}
.create-playlist button{
    padding: 8px 15px;
    border: 0px;
    outline: 0px;
    border-radius: 20px;
    font-size: 600;
    margin-bottom: 10px;
}
.privacy ul li a{
    text-decoration: none;
    color: #575656;
    font-size: 12px;
    font-weight: 600px;
    margin: 0 5px;
}
.privacy ul li a:hover{
    text-decoration: underline;
    color: #dbdbdb;

}
.privacy ul{
    list-style: none;
    margin-top: 20px;
}
.privacy ul li{
    padding: 0 10px;
    padding-bottom: 8px;
}
.privacy{
    padding:0 12px;
    margin-top: 30px;
}
.eng-btn{
    padding: 20px 30px;
}
.eng-btn button{
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline: none;
    color: #ffffff;
    border: 1px solid #818080;
    border-radius: 20px;
    margin: 20px 0;
}
.eng-btn button:hover{
    padding: 11px 31px;
    border: 1px solid #fff;
}
.main-section{
    margin-left: 300px;
    background: #181818;
    height: 100vh;
    overflow: auto;
}
.main-section .top-nav{
    padding: 20px 30px;
    background: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-section .top-nav  button{
    background: transparent;
    border: 0;
    outline: 0;
}
.main-section .top-nav .prev-btn button i{
    color: #838181;
    font-size: 22px;
    margin-right: 10px;
}
.top-nav .logo-btn .sign-up{
    color: #838181;
    font-size: 16px; 
   font-weight: 600;
   margin-right: 20px;
   
}
.top-nav .logo-btn .sign-up:hover{
    color: #ffffff;
}
.top-nav .logo-btn .login{
    color:#030303;
    font-size: 16px;
    font-weight: 600;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
}
.top-nav .logo-btn .login:hover{
    background: #8f8e8e;
} 
.spotify-playlist{
    padding: 20px 40px;
}
.spotify-playlist .round{
    padding-left: 30px;
    display: flex;
    gap: 30px;
    overflow: hidden;
}
.round .top-item img{
    border-radius: 100%;
}
.round .top-item{
    width:200px;
    min-width: 140px;
    cursor: pointer;
    border-radius: 6px;
    padding: 15px;
}
.round .top-item:hover{
    width:200px;
    min-width: 140px;
    cursor: pointer;
    border-radius: 6px;
    padding: 15px;
    background: #3d3c3c;
}
.spotify-playlist .round .top-item img{
    width: 100%;
    border-radius: 100%;
    margin-bottom: 10px;
}
.round .top-item h4{
    color: #fff;
}
.round .top-item p:hover{
    color: #fff;
    text-decoration: underline;
}
.spotify-playlist .round .top-item:hover i{
    position: absolute;
    background: #1db954;
    border-radius: 50%;
    padding: 13px;
    right: 8px;
    top: -60px;
    opacity: 1;
    transform: 0.5s ease all;
}

.spotify-playlist h2{
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px;
    padding-left: 30px;

}
.spotify-playlist .items h4{
    color: #fff;
}
.spotify-playlist .items p{
    color: #8f8e8e;
    font-size: 13px;
    margin-top: 10px;
}
.spotify-playlist .items p:hover{
    text-decoration: underline;
    color: aliceblue;  
}
.spotify-playlist .play-btn {
    position: relative;
}
.spotify-playlist .play-btn i{
    position: absolute;
    background: #1db954;
    border-radius: 50%;
    padding: 13px;
    right: 8px;
    top: -60px;
    opacity: 0;
    transform: 0.5s ease all;
}

.spotify-playlist{
    padding: 20px 40px;
}
.spotify-playlist h2{
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px;
    padding-left: 30px;
}
.spotify-playlist .card{
    padding-left: 30px;
    display: flex;
    gap: 20px;
    overflow: hidden;
}
.spotify-playlist .card .items{
    width:200px;
    min-width: 140px;
    background-color: #272626;
    cursor: pointer;
    border-radius: 6px;
    padding: 15px;
}
.spotify-playlist .card .items:hover{
    background-color: #3d3c3c;
}

.spotify-playlist .card .items img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
    
}
.spotify-playlist .items h4{
    color: #fff;
}
.spotify-playlist .items p{
    color: #8f8e8e;
    font-size: 13px;
    margin-top: 10px;
}
.spotify-playlist .items p:hover{
    text-decoration: underline;
    color: aliceblue;  
}
.spotify-playlist .play-btn {
    position: relative;
}
.spotify-playlist .play-btn i{
    position: absolute;
    background: #1db954;
    border-radius: 50%;
    padding: 13px;
    right: 8px;
    top: -60px;
    opacity: 0;
    transform: 0.5s ease all;

}
.spotify-playlist .card .items:hover .play-btn i{
    opacity:1;
}
.footer-section{
    padding: 20px 50px;
}
.footer-section .footer{
display: flex;
justify-content: space-between;
margin-top: 20px;
}
.footer-section .footer .footer-links{
    display: flex;
    justify-content: space-between;
   gap: 50px;
}
.footer-section .footer-links .col-links .footer-column{
    margin: 0 12px;
}
.footer-section .footer .footer-links div{
    color: white;
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 16px;

}
.footer-section .footer-links ul li{
    list-style: none;
    margin: 6px 0;
}
.footer-section .footer-links ul li a{
    text-decoration: none;
    color: rgb(86, 90, 93);
    font-size: 14px;
    cursor: pointer;
}
.footer-section .footer-links ul li a:hover{
    text-decoration: underline;
    color: #ffffff;
}
.social-links i{
    color: #fff;
    background: #586969;
    padding: 10px;
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
}
hr{
    margin: 20px 40px;
    border: 0;
    outline: 0;
    border: 1px solid #646060;
    margin-top: 30px;

}
.Copyright{
    padding: 0 80px;
    color: #6e6c6c;
    font-size: 15px;
    margin-bottom: 100px;
}
.preview{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right,rgb(168, 98, 170), rgb(25, 0, 255));
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 30px;
}
.preview h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: white;
}
.preview p{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 2px;
    color: white;
}
.preview button{
    margin: 1px;
    padding: 12px 30px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    color: black;
}
.preview button:hover{
    background-color: #b91d49;
}
.container .card .item1:hover .playbtn i{
    opacity: 1;
    transform: 1s ease all;
}
.container .card .item1 img{
    width: 105%;
    height: 68%;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
.container .card .item1:hover{
    background-color: #323232;
}
.container .card .item1{
    width: 220px;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
}
.Singup{
    cursor: pointer;
}
.Login{
    cursor: pointer;
}
.main_top_arrow{
    cursor: not-allowed;
}
